li>a{
    text-decoration: none;
    color: black;
}
a:hover,li:hover{
    color: aqua ;
}
li { list-style: none;
font-size: 20px;
padding: 10px}
ul{
    display: flex;
    justify-content: space-around;
}
  

.body {
    background-color: bisque;
}

/* nav>ul>li{
    display: inline;
    padding-left: 100px;
} */

footer{
    text-align: center;
}
img{
    width: 100%;
}
figcaption{
    text-align: center;
}
header>h1{
   text-align: center;
}